
.main-container {
  display: flex;
  flex: 1;
  
}

.sidebar-opacity {
  background-color: #505050;
  opacity: 0.8;
  backdrop-filter: blur(8px);
}

.user-icon {
  margin: 0.5rem;
}

.navbar-options {
  margin: 0.5rem;
}

.sidebar {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}
